body {
  background-color: #f3f3f3;
}

a {
  color: inherit;
  text-decoration: inherit;
}



.curvy-header {
  background-color: #27AE60;
  color: white;
  font-size: 20px;
  padding: 30px;
  height: 50px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #343A40;
  color: lightgray;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.footer-element{
  font-size: 14px;
  margin: 10px 14px;
  display:inline-block;
  text-align: center;
}

.active{
  color: #27AE60;
} 

@media only screen and (max-width: 359px) {
  .footer-element{
    font-size: 10px;
    margin: 10px;
  }
}