body{
    background-color: #343A40;
    color: white;
}
 
a{
    color: inherit;
    text-decoration: inherit;
}

.cross-image{
    margin:10px;
}

.login-image{
    display: flex;
    justify-content: center;
    margin-top:3%;
}

.mobile-login-text{
    margin:25px;
    font-size: 18px;
    text-align: center;
}

.login-form{
    text-align: center;
    color: black;
    background-color: white;
    border-radius: 10px;
    margin: 35px;
    padding:25px;
}

.login-form button{
    background-color: #27AE60;
    border-radius:50px;
    color: white;
    font-weight: 600;
}



.black-border{
    border: 1px solid grey;
    border-radius: 5px;
    padding:5px;  
}